<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Example</title>
  <link href="style.css" rel="stylesheet" type="text/css">
  

  <script src="//code.angularjs.org/snapshot/angular.min.js"></script>
  <script src="script.js"></script>
  

  
</head>
<body ng-app="myApp">
  <div ng-controller="MainController">
    <h4>List of items</h4>
    <ol>
  <li ng-repeat="(type,items_array) in items">{{type}}
  <ul>
    <li ng-repeat="item in items_array">
      <p>{{item.ItemName}}</p>
    </li>
  </ul>
  </li>
</ol>
  </div>
</body>
</html>