<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
   
    <link href="css/simple-sidebar.css" rel="stylesheet">
    <link rel="stylesheet" href="css/decorator.css">

    <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display" rel="stylesheet">


    <style>
        /* Set the size of the div element that contains the map */
        #map {
            height: 400px;
            /* The height is 400 pixels */
            width: 100%;
            /* The width is the width of the web page */
        }
    </style>

</head>
<body>
    <div id="wrapper">
      <div id="background"></div>
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="index.html">
                        Home
                    </a>
                </li>
                <li>
                    <a href="upload.html">Upload</a>
                </li>
                <li>
                    <a href="stats.html">Stats</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <h1 class="Title" id="main">Scoop</h1>
                <p class="Title">This project was created by Jason, Eric, Arjit, and Sriram.</p>

                <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Toggle Menu</a>
                
                <ul class="media-list">
                    <li class="media">
                        <div class="media-left">
                            <a href="show.html">
                                <img class="media-object im" src="img1.jpg" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Location 1</h4>
                            85% Trash - 15% Recyclable
                        </div>
                    </li>
                    <li class="media">
                        <div class="media-left">
                            <a href="show.html">
                                <img class="media-object im" src="img2.jpg" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">
                                Location 2 <img src="https://img.icons8.com/metro/26/000000/recycle-sign.png">
                            </h4>
                            20% Trash - 80% Recyclable
                        </div>
                    </li>
                    <li class="media">
                        <div class="media-left">
                            <a href="show.html">
                                <img class="media-object im" src="img3.jpg" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Location 3</h4>
                            70% Trash - 30% Recyclable
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
